@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');

$done-button: #482121;
$to-do-button: #7A3E3E;
$text: #FFFFFF;

.item {
  display: flex;
  flex-direction: row;
  width: 534px;
  height: auto;
  background-color: $to-do-button;
  font-family: Roboto;
  font-size: 24px;
  color: $text;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.text {
  padding-left: 36px;
  cursor: pointer;
}

.trash {
  cursor: pointer;
  padding-right: 9px;
}

.item-done {
  background-color: $done-button;
  text-decoration: line-through;
}
